.containerAlignment {
    margin-top: 0vh;
    margin-left: 0vw;
}

.spacerHomePage {
    margin-top: 20%;
}

.blurnround {
    filter: blur(4px) brightness(50%);
    border-radius: 25px;
  }

.brightness {
  filter: brightness(50%);
}

.nextbutton {
  position: absolute;
  top: 50%;
  opacity: 0.5;
  right: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.nextbutton:hover {
opacity: 1;
}

.innerphoto {
    grid-row: auto;
    position: absolute;
    top: 1/2;
    left: 1/2;
    transform: translateX(1/2);
    transform: translateY(1/2);
    height: 3/5;
}

.gridContainer {
  flex: auto;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  size: 24;
}

.explore {
  margin-top: 10px;
  margin-left: 20px;
}
