.margin {
    margin-left: 5%;
    margin-right: 5%;
}

.filter {
    gap: 8px;
    padding: 12px;
    border-bottom: 1px solid transparent;
    color: #949494;
}

.filter:hover {
    color: white;
    transition: color 0.2s ease-in-out;
    border-bottom: 1px solid white;
}

.more {
    color: #949494;
}

.more:hover {
    color: white;
    transition: color 0.2s ease-in-out;
}


.card {
	width: 250px;
	height: 150px;
	background-color: #fff;
	padding: 10px;
	border-radius: 8px;
}
.card__skeleton {
	background-image: linear-gradient(
		90deg,
		#ccc 0px,
		rgb(229 229 229 / 90%) 40px,
		#ccc 80px
	);
	background-size: 300%;
	background-position: 100% 0;
	border-radius: inherit;
	animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
	to {
		background-position: -100% 0;
	}
}