.containerAlignment {
    margin-top: 0vh;
    margin-left: 0vw;
}

.spacerHomePage {
    margin-top: 20%;
}

.container{
    flex: auto;
    column-span: all;
    cursor: pointer;

}


.square {
    width: 128px;
    height: 128px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    background-color: gray;
}

.image {
    transition: transform 0.2s ease-in-out;
}
  
.image:hover {
    transform: scale(1.1);
}

.swiperslide .rounditem {
    width: 280px;
    height: 280px;
    border-radius: 25px;
   
    overflow: hidden;
   }
   
.swiper-button-prev {
    opacity: 0;
}

.swiper-button-prev:hover {
    opacity: 1;
    transition: transform 0.2s ease-in-out;
}