.containerAlignment {
    margin-top: 0vh;
    margin-left: 0vw;
}

.spacerHomePage {
    margin-top: 20%;
}

.container{
    flex: auto;
    column-span: all;
    cursor: pointer;

}

.container:hover {
    scale: "1.1";
}

.square {
    
}