.flexGridAdditionalStyles {
  margin-bottom: 0%;
}

@media (max-width: 992px) {
  .flexGridAdditionalStyles {
    margin-bottom: 5%;
  }
}

.glassBackground {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
