.swiperPagination {
  position: relative;
  margin-top: 3%;
  width: 100%;
  text-align: center;
}

.buttonStyles {
  color: white;
  border-color: white;
  border: solid 1px white;
  border-radius: 0.25rem;
}